#content-container {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#project-container {
    margin-top: 60px;
}

#project-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

#project-github-link {
    margin-bottom: 25px;
}

#canvas-container {

    line-height: 0;
    float: left;
    box-sizing: border-box;
    border: 2px solid black;

}

#information-container {

    //background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    width: 600px;
    height: 604px;  // to acount for borders of canvas
    float: right;

}

#description-container {
    padding-right: 10px;  // to account for scrollbar
    line-height: 24px;
    white-space: pre-line;
    text-align: justify;
    overflow-y: scroll;
}

#controls-list {
    white-space: normal;
    list-style-position: inside;
}